<!DOCTYPE html>
<html>
<% font_style = "font-family: 'Source Code Pro', Monaco, monospace" %>
<head>
  <meta name="viewport" content="width=device-width"/>
</head>
<style>
  a {
    text-decoration: none;
    color: #0099ff
  }

  p {
    display: block;
    margin: 1em 2em 0 0;
  }

  strong {
    font-weight: 900;
  }

  pre {
    color: lightgray;
  }
</style>

<body>

<% today_string = @today_string %>
<% city = @city %>
<% stats = @stats %>
<% start_utc = stats['start_utc'] %>
<% total = stats['total_s'] %>
<% end_utc = stats['end_utc'] %>
<% scrapers = @scrapers %>
<% htmls = @htmls %>

<p style="<%= font_style %>">
<strong>FILMBOT <%= "#{city.upcase}" %></strong> &nbsp
<% scrapers.sort_by(&:url_name).each do |s| %>
☛ <a style="color: black; text-decoration: underline" href=<%= "##{s.url_name}" %>><%= s.display_name %></a> &nbsp
<% end %>
</p>

<p style="<%= font_style %>">
  <%= today_string %>
</p>

<%= "<pre>start: #{start_utc}</pre>" %>

<% htmls.each do |html| %>
<%= "#{html}" %>
<% end %>

<%= "<pre>#{total}<pre>" %>
<%= "<pre>end: #{end_utc}</pre>" %>
</body>
</html>
