<!DOCTYPE html>
<html>
<% link = city === 'sf' ? 'http://filmbot.club' : 'http://filmbot.nyc' %>
<% font_style = "font-family: 'Source Code Pro', Monaco, monospace" %>
<head>
  <meta name="viewport" content="width=device-width"/>
</head>
<style>
  a {
    text-decoration: none;
    color: #0099ff
  }

  p {
    display: block;
    margin: 1em 2em 0 0;
  }

  strong {
    font-weight: 900;
  }
</style>

<body>

<p style="<%= font_style %>">
  <a href="<%= link %>"><%= link %></a>
</p>
<p style="<%= font_style %>">
  <%= today_string %>
</p>

<% start_utc = stats['global']['end_utc'] %>
<%= "<pre style=\"color: lightgray\">start:#{start_utc}</pre>" %>

<% results.each do |scraper, films| %>
  <h2 style="<%= font_style %>">☛ <%= scraper.theater_name %></h2>
  <table width="100%">
    <% Scraper::Base.films_this_week(films).each do |row| %>
      <tr>
        <% row.each_with_index do |film, i| %>
          <td width="50%" valign="top" style="<%= font_style %>; padding-right: <%= i % 2 == 0 ? '16px' : '0px' %>;">
            <h3>
              ★ <a style="text-underline: none" href=<%= film.link %>><%= film.title %></a>
            </h3>
            <pre style="font-weight: bold"><%= film.week_overview_tomorrow %></pre>
            <%= "<p style=\"#{font_style}\">#{film.blurb_html}</p>" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <% scrape_total = stats[scraper]['total_s'] %>
  <% scrape_avg = stats[scraper]['avg_s'] %>
  <%= "<pre style=\"color: lightgray\">avg:#{scrape_avg}, total:#{scrape_total}</pre>" %>
<% end %>
<p>
  <a href="mailto:filmbotnyc@gmail.com?Subject=secret">
    <img src="https://raw.githubusercontent.com/benzguo/filmscraper/master/2046-secret.jpg" width="320px"> </a>
</p>

<% total = stats['global']['total_s'] %>
<% end_utc = stats['global']['end_utc'] %>
<%= "<pre style=\"color: lightgray\">total:#{total}, end:#{end_utc}</pre>" %>
</body>
</html>
