<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width"/>
</head>
<style>
  p {
    display: block;
    margin: 1em 2em 0 0;
  }
</style>

<body>
<p>
  <a href="http://filmbot.nyc">http://filmbot.nyc</a>
</p>
<p>
  <%= today_string %>
</p>

<% results.each do |scraper, films| %>

  <h2>☛ <%= scraper.theater_name %></h2>

  <table width="100%">
    <% Scraper::Base.films_this_week(films).each do |row| %>
      <tr>
        <% row.each do |film| %>
          <td width="50%" valign="top">
            <h3>
              ★ <a href=<%= film.link %>><%= film.title %></a>
            </h3>
            <pre><%= film.week_overview %></pre>
            <p>
              <%= film.blurb %>
            </p>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

<% end %>

<p>
  <a href="mailto:filmbotnyc@gmail.com?Subject=secret">
    <img src="https://raw.githubusercontent.com/benzguo/filmscraper/master/2046-secret.jpg" width="320px"> </a>
</p>
<p>
  <%= timestamp %>
</p>

</body>
</html>
