<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
</head>

<body>
<% theaters.each do |theater| %>
<h2>☛ <%= theater.name %></h2>

<table width="100%">
<% theater.films_this_week.each do |row| %>
  <tr>
  <% row.each do |film| %>
    <td width="50%" valign="top">
    <h3>★ <a href=<%= film.link %>><%= film.title %></a></h3>
    <pre><%= film.week_overview %></pre>
    <p><%= film.blurb %></p>
    </td>
  <% end %>
  </tr>
<% end %>
</table>

<% end %>
</body>
</html>
