<!DOCTYPE html>
<html>
<% font_style = "font-family: 'Source Code Pro', Monaco, monospace" %>
<head>
  <meta name="viewport" content="width=device-width"/>
</head>
<style>
  a {
    text-decoration: none;
    color: #0099ff
  }

  p {
    display: block;
    margin: 1em 2em 0 0;
  }

  strong {
    font-weight: 900;
  }

  pre {
    color: lightgray;
  }
</style>

<body>

<% today_string = @today_string %>
<% stats = @stats %>
<% start_utc = stats['end_utc'] %>
<% total = stats['total_s'] %>
<% end_utc = stats['end_utc'] %>
<% htmls = @htmls %>

<% link = city === 'sf' ? 'http://filmbot.club' : 'TODO' %>
<p style="<%= font_style %>">
  <a href="<%= link %>">filmbot <%= "#{city}" %></a>
</p>
<p style="<%= font_style %>">
  <%= today_string %>
</p>

<%= "<pre>start:#{start_utc}</pre>" %>

<% htmls.each do |html| %>
<%= "#{html}" %>
<% end %>

<%= "<pre>total:#{total}, end:#{end_utc}</pre>" %>
</body>
</html>
