<% font_style = "font-family: 'Source Code Pro', Monaco, monospace" %>

<% theater_name = @theater_name %>
<% scraper_name = @scraper_name %>
<% films = @films %>
<% errors = @errors %>
<% source = @source %>
<% stats = @scraper_stats %>
<h2 style="<%= font_style %>">☛ <a style="color: black; text-decoration: underline" id=<%=scraper_name%>><%= theater_name %></a></h2>
<table width="100%">
  <% Scraper::Base.films_this_week(films).each do |row| %>
    <tr>
      <% row.each_with_index do |film, i| %>
        <td width="50%" valign="top" style="<%= font_style %>; padding-right: <%= i % 2 == 0 ? '16px' : '0px' %>;">
          <h3>
            ★ <a style="text-underline: none" href=<%= film.link %>><%= film.title %></a>
          </h3>
          <pre style="font-weight: bold; color: black"><%= film.week_overview_tomorrow %></pre>
          <%= "<p style=\"#{font_style}\">#{film.blurb_html}</p>" %>
        </td>
      <% end %>
    </tr>
  <% end %>

<% total_s = stats['total_s'] %>
<% each_s = stats['each_film_avg_s'] %>
<%= "<pre>#{total_s}, each: ~#{each_s}</pre>" %>

<% errors.each do |film| %>
<pre style="color: gray">
★ <a style="color: gray; text-decoration: underline" href=<%= film.link %>><%= film.title %></a> <%= "#{film.error.slice(0..20)}" %> <a style="color: gray; text-decoration: underline" href=<%= source %>>(source)</a>
</pre>
<% end %>

</table>